@charset "UTF-8";
	#video01{
		position:relative;
		min-width: 100%; 
		min-height: 100%; 
		z-index:-2;
	}
	/* 페이지 타이틀  */
	#title{
		position:absolute;
		z-index: -1;
		font-size: 70px;
		font-weight:900;
		color: white;
		left: 10%;
		top: 300px;
	}

