@charset "UTF-8";

.tab-container {
	position: absolute;
	top: 485px;
	width: 100%;
	height: 100px;
	text-decoration: none;
}

.tab-container a {
	text-decoration: none;
}

.tab-list {
	margin: 0; padding0;
	height: 100%;
	list-style-type: none;
	border-bottom: 1px solid black;
	padding-left: 0;
}

.list-li {
	height: 100%;
	width: 33.33%;
	float: left;
	text-align: center;
	line-height: 100px;
	font-size: 40px;
	font-weight: bold;
	border-right: 1px solid black;
	box-sizing: border-box;
}

.navi_match_li:last-child {
	border-right: none;
}

.munebar {
	text-decoration: none;
	color: black;
}

.selected {
	background-color: lightgray;
}

.page_area {
	position: absolute;
	z-index: -1;
	width: 100%;
	top: 50px;
}

/* 전체 div */
.full {
	height: 1500px;
}
/* 검색창 */
#keyword {
	font-size: 16px;
	width: 250px;
	padding: 0px;
	border: 1px solid #20B2AA;
	outline: none;
}

#search {
	width: 50px;
	height: 25px;
	border: 0px;
	background: #20B2AA;
	outline: none;
	color: #ffffff;
}

/* accordionMenu */
.accordionMenu {
	font: 12px/20px 돋움;
	padding: 10px;
	width: 500px;
	margin: 0;
}

.accordionMenu h2 {
	margin: 5px 0;
	padding: 0;
}

.accordionMenu h2 a {
	font-size: 15px;
	display: block;
	font-weight: normal;
	text-decoration: none;
	margin: 0;
	padding: 10px;
	border-radius: 5px;
}

.accordionMenu p {
	padding: 0 10px;
	margin: 0;
	height: 0;
	overflow: hidden;
	transition: height 1s;
}

.accordionMenu :target p {
	overflow: auto;
	height: 100px;
}
/* faq */
.faqul{
	border: 1px solid gray;
}
	.commentList{
		width:100%;
		clear:both;
		border:1px solid #ccc;
		border-radius: 5px;
		overflow: hidden;
	}
		.commentList{
		width:700px;
		height: 35px;
		list-style: none;
		padding-top: 3px;
	}
	.commentList > li {
		float:left;		
		color:black;
		font-weight:900;	
	}
/* 게시판 */
	#con{
		resize: none;
		height: 400px;
	}
	
	#boardWriter{
		width: 80%;
		height: 500px;
		border: 1px solid black;
	}
	#tit{
	font-size: 30px;
	text-align: center;
	background: lightgray;
	}
	
	.form-controll{
		width:100%;
		height: 80%;
	}
	.tth{
		text-align: center;
	}
	
	.btn{
		color:gray;
	}
	/* 게시판 화면 */
	#toptit{
	 width:80%;
	 font-size:20px; 
	 font-weight:bold;
	}
	.viewcon{
		width:800px;
	}
	#viewcon2{
		height: 300px;
	}
	.bbtn{
		color: gray;
	}
	
	#barea{
		width: 600px;
		height: 70px;
		resize: none;
	}
	
	#bsub{
		background: linear-gradient(to bottom, white, rgb(245,245,245));
		background-color:white;
		border:1px solid lightgray;
		color:#2c3c57;
		height: 70px;
		width: 85px;
	}
	

	.fa1{
		font-size: 15px;
	}
	.faq_1{
		cursor: pointer;
	}