@charset "UTF-8";
	#title{
		position:absolute;
		z-index: 1;
		font-size: 45px;
		font-weight:900;
		color: black;
		left: 10%;
		top: 120px;
	}
	.content-container {
		position: relative;
		width: 100%;
		height: 100%;
	}
	.manageTable {
		text-align:center; 
		width:80%; 
		margin:0 auto;
		border-collapse: collapse;
	}
	.first {
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
	}
	.btn-manage {
		width:100px;
	    background-color: #f8585b;
	    border: none;
	    color:#fff;
	    padding: 15px 0;
	    text-align: center;
	    display: inline-block;
	    font-size: 15px;
	    margin: 4px;
	    cursor: pointer;
	}
	#btn-insert {
		position:relative;
		float: right;
		right: 5px;
	}
	.identifier {
		text-align:left;
		left:20px;
	}
	
	